@import "./reset.css";
@import "./978.css";
.ui-dialog-close:hover {
    text-decoration: none;
}
body {
    background-color: #c0deed;
    font-family: 'Open sans', sans-serif, Georgia,"Times New Roman",Times,serif;
    background-attachment: fixed;
    background-color: #C0DEED;
    /*background-image: url("bg.png");*/
    background-position: left 0px;
    background-repeat: no-repeat;
    /*background: #93C5EA url(./wallpaper-65446.jpg) fixed center top repeat-x;*/
}

.header {
    /*background-color: #53A880;*/
    padding: 10px 0 15px;
    /*min-height: 60px;*/
}

.content {
    /*background-color: rgba(255, 255, 255, 0.95);*/
    background-color: #fff;
    padding-bottom: 30px;
}
/*
.content .img-box {
    padding: 262px 0 262px;
    background-color: #fff;
}
*/
.wrapper .h-293 {
    padding: 186px 0 186px;
}
.wrapper .h-222 {
    padding: 110px 0 110px;
    background-color: #fff;
}
.wrapper .ui-nav-subcontainer {
    border-left: none;
    border-right: none;
}
.main {
    background-color: #fff;
}
.main .main-box {
    margin-top: 30px;
    margin-right: 30px;
}
.sidebar {
    /*background-color: #0088cc;*/
    background: #FFF;
    border-bottom: 1px solid #DDD;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: normal;
}

.sidebar .first {
    border-top: none;
}

.sidebar ul li a {
    font-size: 14px;
    display: block;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-bottom: none;
    position: relative;
    text-shadow: 0 1px 2px #eee;
    color: #7CAE23;
}

.sidebar ul li a .iconfont {
    color: #aaa;
    position: absolute;
    right: 12px;
    top: 11px;
    font-size: 12px;
    line-height: 14px;
}

.sidebar ul li a:hover {
    background: #f8f8f8;
    text-decoration: none;
}

.sidebar ul li a:hover .iconfont {
    color: #aaa;
}

.ui-nav-subitem .iconfont {
    margin-right: 3px;
}
.ui-nav-item-current .hidden {
    display: none;
}
.staff-box .ui-button {
    margin-right: 6px;
}