body {
    background-color: #c0deed;
    font-family: 'Open sans', sans-serif, Georgia,"Times New Roman",Times,serif;
    background-attachment: fixed;
    background-color: #C0DEED;
    background-image: url("bg.png");
    background-position: left 0px;
    background-repeat: no-repeat;
}
.header {
    margin-bottom: 20px;
}
.sidebar,
.main {
    height: 600px;
    line-height: 600px;
}
.logo {
    font-size: 26px;
    color: #8ec1da;
}
.logo i {
    font-size: 26px;
}
.content {
    margin: 0 auto;
    width: 990px;
}
.content .ui-nav-subcontainer {
    border-left: none;
    border-right: none;
}
.ui-grid-5 {
    min-height: 600px;
}
.ui-grid-5,
.ui-grid-15 {
    /*height: 400px;*/
    background: #eee;
    /*line-height: 400px;*/
    /*text-align: center;*/
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fcfdfe),to(#f8f9fa));
}
.ui-grid-25 {
    /*height: 100px;*/
    background: #eee;
    /*line-height: 100px;*/
    text-align: center;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fcfdfe),to(#f8f9fa));
}

#tab-demo-1 {
    font: 14px/1.5 'Xin Gothic', 'PT Sans', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
    padding-top: 29px;
}

#tab-demo-1 .ui-switchable-active a {
    font-weight: bold;
    height: 33px;
}

#tab-demo-1 .ui-switchable-nav {
    text-align: center;
}

#tab-demo-1r .ui-switchable-nav .ui-switchable-active {

    cursor: default;
}

#tab-demo-1 .ui-switchable-content {
    /*position: relative;*/
    /*height: 150px;*/
    /*padding: 20px;*/
    /*border-bottom: 1px solid #E5E5E5;*/
}

#g-nav .ui-nav-main {
    /*background: -webkit-linear-gradient(top,#E06744,#ef5b30);*/
}
/*#g-nav .ui-nav-main .ui-nav-item a:hover {*/
/*background-color: #86bd8a;*/
/*background: -webkit-linear-gradient(top,#86bd8a,#86bd8a);*/
/*}*/
#g-nav .ui-nav-main .ui-nav-item .ui-nav-subitem a:hover {
    background-color: transparent;
    background: -webkit-linear-gradient(top,transparent,transparent);
}
#g-nav .ui-nav-main .ui-nav-item .ui-nav-subitem-current a:hover {
    /*border-top: none;*/
}
.top-show {
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fcfdfe),to(#f8f9fa));
    box-shadow: 0 1px 2px rgba(0,0,0,.04),inset 0 1px 0 #fff;
    background-color: #f8f9fa;
}

/*footer*/
.footer {
    border-top: 1px solid #DADADA;
    padding-top: 15px;
    padding-bottom: 20px;
    background: #F9F9F9;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#F9F9F9), to(#F4F4F4));
    background: -moz-linear-gradient(top, #f9f9f9, #f4f4f4);
}
.nav-bottom {
    width: 95%;
    max-width: 1300px;
    text-align: center;
    margin: 10px auto;
}
.nav-bottom li {
    display: inline-block;
    *zoom:1;
    *display:inline;
}
.nav-bottom li a {
    color: #535353;
}
.copyright {
    width: 95%;
    max-width: 1300px;
    text-align: center;
    margin: 0 auto;
}

#login-box {
    display: none;
}